.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 8px 6px -6px rgb(211, 211, 211);
}

.fork-logo img {
  width: 80px;
  height: 80px;
}
.fork-logo {
  width: 80px;
}
.header .search-bar {
  border: solid 1px grey;
  /* margin-top: -100px; */
  position: relative;
  margin-left: 20%;
  margin-top: 10px;
}

@media (max-width: 684px) {
  .header .search-bar {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 580px) {
  .header .search-bar {
    margin-left: 0;
    max-width: 340px;
  }
  .header {
    max-width: 100%;
  }
  .fork-logo img {
    display: none;
  }
  .container {
    margin: 0;
  }
}
