/*              GENERAL RULES          */
/*                                    */
a {
  text-decoration: none;
  color: inherit;
}
.container {
  font-family: roboto, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
body {
  font-family: roboto, sans-serif;
  color: #272a2f;
}

* {
  box-sizing: border-box;
}
button input {
  font-family: roboto, sans-serif;
}
/*                  
                     HEADER
*/
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: solid red 2px; */
}

.fork-logo img {
  width: 80px;
  height: 80px;
}
.fork-logo {
  width: 80px;
}
.header .search-bar {
  border: solid 1px grey;
  /* margin-top: -100px; */
  position: relative;
  margin-left: 20%;
  margin-top: 10px;
}

/*            HOME PAGE                */
/*                                    */
/*                                   */

/* HERO CONTAINER SECTION */

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.hero-container {
  position: relative;
}

.img-container {
  position: relative;
}
.search-bar {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  /* width: 30%; */
}
.search-bar input {
  width: 350px;
  padding: 5px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}
.overlay-text {
  position: absolute;
  color: #ffffff;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 35px;
  font-weight: bold;
  white-space: nowrap;
}

.search-bar button {
  padding: 5px 10px;
  height: 30px;
  /* width: 50px; */
  border: none;
  background-color: #00645a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
.results-map-container {
  display: flex;
}

.results-container {
  flex: 1;
}

.map-container {
  /* flex: 1; */
  margin-left: 20px;
  position: fix;
  margin-top: 20px;
}

.restaurant-picture img {
  height: 170px;
  width: 280px;
  border-radius: 5px;
}
.restaurant {
  margin-top: 20px;

  height: 900px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.restaurant-container {
  /* border: solid 2px black; */
  display: flex;
  margin-top: 20px;
}
.restaurant-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  /* border: solid 2px green; */
}
.restaurant-info h2 {
  margin-top: 5px;
  margin-bottom: 20px;
}
.restaurant-style {
  margin-bottom: 20px;
}
.resto-address {
  margin-bottom: 40px;
}
.right-part {
  width: 420px;

  /* border: solid violet 2px; */
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.resto-address span {
  margin-right: 6px;
}
.ratings > div {
  margin-top: 8px;
  margin-bottom: 20px;
}

/*    restaurantsDetails */
.restaurant-container {
  /* display: flex; */
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  width: auto;
  margin-left: -32px;
}
.details-restaurant-picture img {
  height: 300px;
  width: auto;
  object-fit: cover;
}
.resto-details-info-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.icon {
  color: #00645a;
  margin-right: 5px;
  /* margin-bottom: 5px; */
}

.restaurant-details-info {
  display: flex;
  height: 300px;
  width: auto;
  /* border: #00645a solid 2px; */
  margin-bottom: 20px;
}
.resto-details-map {
  /* max-height: 200px; */
  /* border: solid black 2px; */
  flex: 1;
}
.comment {
  margin-top: 10px;
  margin-right: 10px;
}
.nearby-resto-parent {
  display: flex;
  margin-top: 20px;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}
.restaurant-container-nearby {
  /* border: solid 2px black; */
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  margin-right: 20px;
}

.right-part-nearby {
  width: 100%;

  /* border: solid violet 2px; */
  display: flex;
  flex-direction: column;
}
.restaurant-info-nearby {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid 2px green; */
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*      REVIEWS     */

.avatar img {
  border-radius: 50%;
  height: 30px;
  /* width: 20px; */
}
.reviewer span {
  margin-left: 2px;
}

.reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.review {
  height: 100%;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-body {
  width: 450px;
}
.review-rating {
  font-weight: bold;
  font-size: 15px;
  margin-top: 8px;
}
.firstName {
  margin-left: 5px;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  margin-top: 20px;
}
.photo-grid img {
  object-fit: cover;
  width: 400px;
  height: 200px;
}
