/*              GENERAL RULES          */
/*                                    */
a {
  text-decoration: none;
  color: inherit;
}
.container {
  font-family: roboto, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}
body {
  font-family: roboto, sans-serif;
  color: #272a2f;
}

* {
  box-sizing: border-box;
}
button input {
  font-family: roboto, sans-serif;
}
